html
	head
		meta(charset='UTF-8')
		title FileHIVE - Personal DMS
		link(rel='stylesheet', type='text/css', href='/lib/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='/lib/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/main.css')
		script(src="/lib/jQuery/jquery-2.1.1.min.js")
		script(src="/lib/bootstrap/js/bootstrap.min.js")
	body
		block content