extends ../includes/maincore

block content
  body
    // PAGE CONTENT 
    section.content-wrapper
      // PAGE HEADER 
      header
        | File HIVE | Personal Document Management System
      // MAIN CONTENT 
      section.login-form
        input.form-control(type="text", placeholder="email...")
        input.form-control(type="password", placeholder="password...")
        button.btn.btn-lg.btn-default.btn-block(type="submit", ) Login
      // PAGE FOOTER 
      .footer-spacer
        | &nbsp;
      footer
        | FileHIVE - Personal DMS | Created by Daniel 'Dhanielk' Horky | All rights reserved!
        br
        | Portfolio @
        a(href='http://dhanielk.me') dhanielk.me